*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root{
  --navHeight : 8vh;
  --MinNavHeight : 3rem;
  --section-title-size : 1.75rem;

  --main-color: #7EB3FF;
  --bg-color : #D0EDF5;
  --dark-gray : #231F20;
  --white : #F3F6FB;

  --img-width : 36px;
}

/* basic styling */
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}

/* Full page scroll */
.container{
  height: 100vh;
  background: var(--bg-color);
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--white);
  background: linear-gradient(60deg, var(--bg-color) 0, var(--main-color) 100%);

}

section{
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-margin-top: -7px;
}

section > .title{
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-size: var(--section-title-size);
  padding: 2rem 1rem;
}

/* Navigation */
#menu{
  display: none;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--navHeight);
  min-height: var(--MinNavHeight);
  z-index: 9;
  background-color: rgba(255, 255, 255, .1);
  padding: 1rem 0;
}

.nav .logo a{
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.nav ul{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.nav a{
  color: var(--dark-gray);
  transition: .5s ease;
  margin: 0 .3rem;
  font-weight: bolder;
}

.nav ul:hover a{
  opacity: .5;
}

.nav ul a:hover{
  transition: .25s ease;
  opacity: 1;
}

/* Hero section */
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc( 80vh + var(--navHeight) );
  padding-top: 0;
  scroll-margin-top: calc( 5vh + var(--navHeight));
}

.hero .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.hero .intro{
  color: var(--dark-gray);
}

.hero .intro h1{
  margin-top: 2rem;;
  font-size: 2em;
}

.hero .intro p{
  font-size: 1.5em;
  margin: 1em 0 1.75em 0;
}

/* .hero .cta{
  margin: 1rem 0;
}

.hero .cta a{
  text-decoration: none;
  border: 2px #7EB3FF solid;
  margin: 1.5rem 0;
  margin-right: 1rem;
  padding: .5rem 1.25rem;
  border-radius: 1.5rem;
  font-weight: bold;
}

.cta a:hover{
  filter: brightness(97%);
}

.cta a.primary{
  background-color: #7EB3FF;
  color: var(--white);
}

.cta a.secondary{
  border: 2px #7EB3FF solid;
  color: #7EB3FF;
  background-color: transparent;
} */

.hero .illustration svg{
  width: 35vw;
}

/* études section */
.etudes .content{
  display: flex;
  align-items: center;
  height: 84vh;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  margin-top: -2rem;
}

.cards li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: var(--white); */
  background: linear-gradient(180deg, var(--white) 50%, #FFFFFF 100%);
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
  width: 80%;
  min-height: 300px;
  margin: 2.5rem auto 1rem auto;
  border-radius: 1.5rem;
}

.cards li header img{
  width: 5em;
  height: 5em;
  border: .25rem solid var(--white);
  border-radius: 50%;
  margin-top: -5rem;
}

.card-footer, .card-body{
  text-align: left;
}

/*Projects section*/
.projets .content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 85vh;
}

.content details {
  margin: .5rem 1rem;
  padding: .5rem;
  background: linear-gradient(180deg, var(--white) 50%, #FFFFFF 100%);
  border-radius: 1rem;
  overflow: hidden;
  height: max-content;
}

.content details summary{
  display: flex;
  align-items: center;
  padding-top: .25rem;
  transition: .25s ease;
}

.project .stack{
  width: 25%;
}

.project .stack img {
  display: inline-block;
  border-radius: 50%;
  width: var(--img-width);
  height: var(--img-width);;
}

.project .stack img:not(:first-child) {
  margin-left: calc( var(--img-width)/-2 - 2px);
  mask: radial-gradient(circle calc(var(--img-width)/2) at 0 50%,transparent 99%,#fff 100%);
  -webkit-mask: radial-gradient(circle calc(var(--img-width)/2) at 0 50%,transparent 99%,#fff 100%);
}

.project .title span{
  display: block;
  padding-top: .25rem;
  font-size: 10px;
}

.project .description{
  padding: .5rem .25rem .25rem .25rem;
}

/* Contact me section */
.contact .content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
}

.contact li{
  display: flex;
  justify-content: safe;
  align-items: center;
  padding: 2rem;
}

.contact .content img{
  height: 50px;
  margin-right: 1rem;
}

.close div:first-child{
  transform: rotate(45deg) translate(4px, 6px);
}

.close div:nth-child(2){
  opacity: 0;
}

.close div:last-child{
  transform: rotate(-45deg) translate(4px, -6px);
}

/* Animations */
@keyframes linkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  .projets .content{
    grid-template-columns: repeat(1, 1fr);
  }

  .project .stack img:not(:first-child) {
    margin-left: initial;
    mask: initial;
    -webkit-mask: initial;
  }
}

@media screen and (max-width: 960px) {
  .nav ul{
    width: 70%;
  }

}

@media screen and (max-width: 768px) {
  /* Navigation */
  #menu{
    display: block;
    cursor: pointer;
  }

  #menu .line{
    height: 3px;
    width: 25px;
    margin: 4px;
    background-color: var(--dark-gray);
    transition: all .5s ease;
  }

  .nav ul{
    position: absolute;
    right: 0;
    top:  var(--navHeight);
    height: calc( 100vh - var(--navHeight) );
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(60deg, var(--bg-color) 40%, var(--main-color) 100%);
    clip-path: circle(0 at 90% -20%);
    -webkit-clip-path: circle(0 at 90% -20%);
    transition: all .75s ease-out;
  }

  .nav .active{
    clip-path: circle(250vh at 90% -20%);
    -webkit-clip-path: circle(250vh at 90% -20%);
    display: flex;
  }

  /* Hero section */
  .hero .content{
    flex-direction: column;
  }

  .hero .intro{
    max-width: 100vw;
  }

  .hero .illustration svg{
    width: 85vw;
    height: 50vh;
  }

  /* etudes section */
  .cards{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

  .cards li{
    scroll-snap-align: start;
    scroll-margin: 2.25rem;
    width: 80vw;
    max-width: 300px;
    margin-right: .5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    min-height: 50vh;
  }

  .cards li:last-child{
    margin-right: 1rem;
  }
  
  .project summary{
    flex-direction: column;
    align-items: center;
  }

  .project .stack, .project .title{
    width: 100%;
  }

}